

#admin_menu{margin:0;}
#admin_menu .ui-corner-left{border-radius:0 !important;}



.sf-menu li {
	background:none;
	
}
.sf-menu li li {
  background:   #8e959b;
}
.sf-menu li li li {
  background:   #8e959b;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  background: #666;
  outline:    0;
  border-radius:none !important;
}

.sf-menu a {
	font-size: 1em;
	border: none;
	color:#fff !important;
	cursor:pointer;
}

.sf-menu a, .sf-menu a:visited {
  color: #654B24;
}

.sf-menu a.sf-with-ul {
    padding-left: 2.25em;
}

tr.sf_admin_row.even td {
	background: #D9D6C4;
}

tr.sf_admin_row.odd td {
  background: #ECEADF;
}

#sf_admin_actions_button {
	margin: 10px 0;
}

input.ui-button {
	padding: 0 0.5em 0.2em;
}

button.fg-button {
	 padding-top: 0.5em;
}

#footer {
	font-size: 0.9em;
	text-align: center;
}

#breadcrumbs {
  margin-bottom: 10px;
}

#login_box {
	width: 400px;
	padding: 10px;
	background:none !important;
	border:none !important;
}

#login_box th, #login_box td, #login_box caption {
	padding: 5px;
	font-weight:normal !important;
}
#login_box th {
	text-align: right;
	padding-right: 5px;
}
#login_box input[type="text"], #login_box input[type="password"], #login_box input.text, #login_box input.title, #login_box textarea, #login_box select {
    margin: 2px 0 0 0;
}
#login_box tbody tr:nth-child(2n) td, #login_box tbody tr.even td {
    background: none;
}

.checkbox_list {
	clear: both;
}
.checkbox_list li {
	display: inline;
	width: 20%;
	float: left;
}