/*body{color:#000; }
a{text-decoration:none; color:#194a97 ;}
a:hover{color:#000;}*/

table {
	margin-bottom: 0px;
}

.radio_list li {
	display: block;
	float: left;
	width: 10%;
}

.sf_admin_form_field_OpinionPossibility {	
	margin: 1em;
}

.sf_admin_form_field_OpinionPossibility .form_row,  .sf_admin_form_field_new_OpinionPossibility .form_row {
  background: url("images/ui-bg_fine-grain_10_f8f7f6_60x60.png") repeat scroll 50% 50% #F8F7F6;
  border: 1px solid #CBC7BD;
  margin: 1em;
  padding: 1em;
}

.sf_admin_form_field_OpinionPossibility .form_row .form_row,  .sf_admin_form_field_new_OpinionPossibility .form_row .form_row {
  background: noe;
  border: none;
  margin: 0;
  padding: 0;
}

body{background:#e7e0cd; padding:20px; font-family:Arial, Verdana !important;}
body > div.container{ background:#fff; padding:10px; box-shadow:0 0 10px rgba(0,0,0,.4); border-radius:5px;}
#header{padding-bottom:5px; border-bottom:1px solid #666; margin-bottom:0; background:#8E959B; color:#fff;}
#header h1{font-size:20px; padding-left:10px; text-transform:uppercase; margin-top:5px;}
#header h1 a{text-decoration:none; color:#000;}
#lang_select{padding-right:10px;}
#summary > h1{font-size:24px;}
#top_menu{background:#8e959b; margin-bottom:5px;}
#footer{margin-top:20px; color:#666;}

/*.ui-state-hover{background-image:none !important; border-color:none !important; color:#333; background:none !important;}
.ui-state-hover a{color:#333 !important;}
.ui-widget-header{border-color:#ccc; background-image:none;}
#sf_admin_container .ui-widget-header h1{height:30px; font-size:16px !important; font-weight:normal !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background-image:none !important;}
.sf_admin_list table thead tr th{font-size:12px !important; text-transform:uppercase; color:#666;}
.sf_admin_list table thead tr th a{color:#666 !important;}
.li-hover{background-color:#666 !important;}*/