@font-face {
    font-family: 'RNSBARUTABLACKRegular';
    src: url('rns-b__2-webfont.eot');
    src: url('rns-b__2-webfont.eot?#iefix') format('eot'),
         url('rns-b__2-webfont.woff') format('woff'),
         url('rns-b__2-webfont.ttf') format('truetype'),
         url('rns-b__2-webfont.svg#webfontUvzZ36Do') format('svg');
    font-weight: normal;
    font-style: normal;

}
