  /* Body */

  body{font-size:12px; font-family:"Trebuchet MS", Arial, Verdana; background:#FCFBF7 url(../images/bg.jpg) repeat-x 0 0;}
  a{color:#194A96; text-decoration:none;}
  a:hover{text-decoration:underline;}

    /* Utilidades */

  .inline{display:inline-block;}
  .clear{clear:both;}
  .no-border{border:none !important;}

    /* Iconos */

  .misc{background-image:url(../images/misc.png); vertical-align:middle;}
  .misc-logo{width:208px; height:74px; background-position:0 0;}
  .misc-logo2{width:66px; height:74px; background-position:-208px 0;}
  .misc-logo3{width:73px; height:26px; background-position:-274px 0;}
  .misc-rss{width:16px; height:16px; background-position:-354px -75px;}
  .misc-tw{width:16px; height:16px; background-position:-376px -75px;}
  .misc-fb{width:16px; height:16px; background-position:-398px -75px;}
  .misc-lock{width:16px; height:16px; background-position:-353px -91px;}
  .misc-top-bar{background-position:0 -357px !important; background-repeat: repeat-x !important;}
  .misc-header-bar{background-position:0 -398px; background-repeat: repeat-x !important;}
  .misc-search{width:191px; height:26px; background-position:0 -229px;}
  .misc-people{width:185px; height:115px; background-position:0 -108px;}
  .misc-comments{width:16px; height:16px; background-position:-369px -91px;}
  .misc-unlock{width:16px; height:16px; background-position:-385px -91px;}
  .misc-rss2{width:16px; height:16px; background-position:-401px -91px}

  .icon-letter-c, 
  .icon-letter-g, 
  .icon-letter-q{font:normal 26px "RNSBARUTABLACKRegular"; text-shadow:0 0 2px rgba(0,0,0,.7);}
  .icon-letter-c{color:#CE9B00;}
  .icon-letter-g{color:#194A96;}
  .icon-letter-q{color:#fff;}
  
  .img{ overflow:hidden; background-image:url(../images/no-pic.gif); background-repeat:no-repeat; background-position:50% 50%;}
  .profile{ background-image:url(../images/no-profile.gif);}
  
  .loading{ background-image:url(../images/loading.gif); background-repeat:no-repeat; background-position:50% 50%;min-height:30px;}
  .loading.alone{min-height:30px; width:auto;}
  .ui-tabs-panel.loading { background-image:url(../images/loading.gif); background-repeat:no-repeat; background-position:50% 50%; z-index: 2; }
  
  input{border:1px solid #666 !important; padding:3px !important;}
  
  /* Alerts */
	
  .alert{padding:8px; margin-bottom:10px; border-radius:5px; color:#000;}
  .error{background:#EBCBC8; border:1px solid #C94743;}
  .success{background:#D5EBA3; border:1px solid #669900;}
  
  /* Pagina */
  
  #container{background:#fff; padding:0 15px 0 15px; box-shadow:0 2px 20px rgba(0,0,0,.5); width:980px; margin:auto auto;}
  
  #top{background-color:#CE9B00; height:30px; margin-bottom:15px; position:relative; }
  #top ul.tools{float:right; margin:4px 10px;}
  #top ul.tools li{float:left; margin-left:10px; border-left:1px solid #997400; padding-left:10px; height:22px;}
  #top ul.tools li:first-child{border:none;}
  #top .social{margin-top:3px;}
  #top .social a{display:inline-block; margin-left:3px; }
  #top .user{color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,.9);}
  #top .user a{color:#fff; line-height:21px; font-size:12px; font-weight:bold;}
  #top .user span{margin:0 5px 0 5px;}
  #top .accesibility a{line-height:20px; height:20px; width:20px; text-align:center; border-radius:4px; background:#f3f3f3; box-shadow:0 0 3px rgba(0,0,0,.7); display:block; float:left; margin-right:5px; text-decoration:none; color:#666;}
  
  #header{background-color:#999; height:100px; margin-bottom:15px; position:relative;}
  #header a.logo{display:block; position:absolute; left:15px; top:15px; }
  #header ul{list-style:none; position:absolute; right:0; top:20px;}
  #header ul li{height:60px; border-left:1px solid #ccc; border-right:1px solid #666; padding:0 20px 0 20px; float:left;}
  #header ul li:first-child{border-left:none;}
  #header ul li:last-child{border-right:none;}
  #header ul li.link a{display:block; font-size:16px; text-decoration:none; height:60px; line-height:60px; padding:0 10px 0 10px; color:#fff; text-transform:uppercase; text-shadow:0 2px 1px rgba(0,0,0,.5);}
  #header ul li.filter{text-align:center;}
  #header ul li.filter select{margin-top:8px; display:block; width:120px; border:1px solid #666; font-size:11px;}
  #header ul li form{margin-top:20px;}
  #header ul li form input{ background:#fff; width:140px; padding:5px; border:none !important; background:none; }
  #header ul li form button{width:35px; height:25px; background:none; border:none; font-size:0; cursor:pointer; float:right;}

  #main{ background:#C7CED1; padding:15px 15px 120px 15px;}
  
  #footer{width:100%; height:100px; background:black; box-shadow:inset 0 20px 20px rgba(0,0,0,1);  opacity:.6; margin-top:-100px; }
  #footer div.footer-inner{width:980px; margin:auto auto; position:relative;}
  #footer div.misc-logo2{position:absolute; left:30px; top:10px;}
  #footer div.misc-logo3{position:absolute; right:30px; top:35px;}
  #footer ul{margin:auto auto auto auto; padding-top:35px; width:600px; text-align:center; border:0 solid red;}
  #footer ul li{margin:0 5px 0 5px; display:inline-block;ÁÁÁ}
  #footer ul li a{color:#fff; text-decoration:none; text-shadow:2px 2px 2px rgba(0,0,0,.7);}
  
  #main div.bar-left{width:670px; float:left;}
  #main div.bar-right{width:265px; margin-left:15px; float:right;}

    /* UI / Elementos comunes */

    .button1{border-radius:8px;  text-decoration:none; box-shadow:0 0 5px rgba(0,0,0,.6); color:#fff !important; background:#194A96 !important; font-weight:normal; font-size:20px; font-family:"RNSBARUTABLACKRegular" !important; text-transform:uppercase; padding:2px 7px 2px 7px !important; text-align:center; text-shadow:1px 1px 2px rgba(0,0,0,.6); border:none; cursor:pointer;}
  .button1:hover{opacity:.9; text-decoration:none;}
  .button1:active{box-shadow:inset 0 2px 20px rgba(0,0,0,.5);}
  .button1.color1{background:#7E8A8F !important;}
  
  form.form{}
  form.form label{display:block; margin-bottom:10px;}
  form.form label span, form.form .hdr{display:block; margin-bottom:4px; text-transform:uppercase; color:#666;}
  form.form small{display:block; font-size:9px; margin-top:4px; color:#999;}
  form.form .wide{width:99%;}
  form.form textarea{height:80px;}
  form.form input,
  form.form textarea,
  form.form select{border:1px solid #999; padding:3px;}
  form.form div.note{font-size:11px; margin-top:10px; color:#666; line-height:15px;}

  .box-title{margin-bottom:10px; position:relative; padding-bottom:5px; border-bottom:1px dotted #666;}
    .box-title p{font-size:16px; color:#999; text-transform:uppercase;}
    .box-title span{float:right; margin-top:-13px;}
    .box-title span strong{color:#BD9C3F;}
    .box-title.color1 p{color:#BD9C3F;}
    .box-title.color2 p{color:#194A96;}

  .box{border-radius:10px; box-shadow:0 0 5px rgba(0,0,0,.4); background:#fff; position:relative; margin-bottom:30px;}
  .box a{color:#BD9C3F;}
  .box.has-tabs{margin-bottom:60px; margin-top:35px;} 
  .box.has-title{margin-top:25px; }
  .box.has-tabs.has-title{}
  .box.has-tabs div.box-content{display:;}
  .box.no-margin{margin-bottom:0 !important;}
  .box ul.tabs{position:absolute; top:-40px; right:10px; list-style:none; clip:rect(-5px,600px,40px,-5px); background:none !important; border:none !important;}
  .box ul.tabs li{float:left; margin-right:4px; background:none !important; border:none !important;}
  .box ul.tabs li a{display:block; background:#e3e3e3; height:55px; padding:0 8px 0 8px; text-transform:uppercase; color:#666; font-size:11px; text-decoration:none; box-shadow:0 0 5px rgba(0,0,0,.4); border-radius: 10px; box-shadow:0 0 5px rgba(0,0,0,.4); position:relative; text-align:center; text-shadow:1px 1px 1px #fff;}
  .box ul.tabs li a b{display:block; float:left; text-align:center; border:0 solid red;}
  .box ul.tabs li a span{display:block; float:left; margin-right:3px; margin-top:4px; border:0 solid red;}
  .box ul.tabs li a:hover{opacity:.7;}
  .box ul.tabs li.on a, .ui-state-active a{background:#fff !important; cursor:default;}
  .box ul.tabs li.on a:hover, .ui-state-active a:hover{opacity:1 !important;}
  .box ul.tabs li.no-icon b{}
  .box h1.hdr{position:absolute; left:10px; top:-20px; font:bold 26px "RNSBARUTABLACKRegular"; text-transform:uppercase; color:#fff; text-shadow:0 0 2px rgba(0,0,0,.7); }
  .box h1.hdr span{float:left; margin-right:4px;}
  .box div.box-content{min-height:50px; padding:25px 10px 10px 10px; }
    .box div.box-content.show{display:block;}
  .box.no-tabs div.box-content{display:block;}
  .box div.pagination{padding:5px; text-align:center; color:#666;}
  .box div.pagination a{margin:0 5px 0 5px;}
  .box div.pagination strong{margin:0 5px 0 5px;}
    .box.color1{background:#194A96;}
    
    .trobada{padding:10px; position:relative;}
  .trobada div.icon{float:left; padding-right:10px; margin-right:10px; border-right:1px solid #ccc; height:45px; line-height:45px;}
  .trobada.color{background:#f3f3f3;}
  .trobada div.img{width:50px; height:45px; float:left; margin-right:8px; background-color:#999;}
  .trobada div.col1{float:left; width:235px; padding-right:10px; margin-right:10px; border-right:1px solid #ccc; height:50px;}
  .trobada div.col1 h1{margin-bottom:2px; font-size:12px;}
  .trobada div.col1 h1 a{color:#333;}
  .trobada div.col1 p{color:#666; margin-bottom:1px; }
  .trobada div.col1 p a{text-decoration:none;}
  .trobada div.col2, .result div.col1{float:left; padding-right:10px; margin-right:10px; border-right:1px solid #ccc; height:50px;}
  .trobada div.col2 p, .result div.col1 p{margin-bottom:2px;}
  .trobada div.col2 p strong, .result div.col1 p strong{font-weight:normal; color:#999 !important;}
  .trobada div.col2 p.estat, .result div.col1 p.estat{color:green;}
  .trobada div.col2 p.estat .misc, .result div.col1 p.estat .misc{margin-left:3px;}
  .trobada div.col3, .result div.col2{float:left; padding-right:10px; margin-right:10px; border-right:1px solid #ccc; height:50px;}
  .trobada div.col3 p, .result div.col2 p{margin-bottom:2px;}
  .trobada div.col3 p strong, .result div.col2 p{font-weight:normal; color:#999 !important;}
  .trobada div.col4, .result div.col3{float:left; padding-right:10px; height:50px;}
  .trobada div.col4 a.enter, .result div.col3 a.enter{background:#CE9B00; margin:10px 0 0 0; display:block; font-size:14px;}
  
  .iniciative{padding:10px; position:relative;}
  .iniciative.color{background:#f3f3f3;}
  .iniciative div.img{width:50px; height:45px; float:left; margin-right:8px; background-color:#999;}
  .iniciative h1{margin-bottom:6px; font-size:12px;}
  .iniciative h1 a{color:#333;}
  .iniciative p{color:#666; margin-bottom:1px; font-size:11px;}
  .iniciative p a{text-decoration:none;}
  .iniciative div.comments{position:absolute; right:10px; bottom:10px; font-size:9px; color:#666;}
  .iniciative div.comments span{margin-right:3px;}
  .iniciative div.letter{float:left; padding-right:10px; margin-right:10px; border-right:1px solid #ccc; height:45px; line-height:45px;}
  
  .result{padding:10px; position:relative; border-bottom: 1px solid #ccc;}
  .result:last-child{border:none;}
  .result div.img{width:160px; height:110px; float:left; margin-right:8px; background-color:#999;}
  .result h1{margin-bottom:4px; font-size:12px; font-weight:bold; font-size:14px;}
  .result h1 a{color:#333;}
  .result p{color:#666; margin-bottom:15px; font-size:11px;}
  .result p a{text-decoration:none;}
  .result div.comments{position:absolute; right:10px; top:40px; font-size:9px; color:#666;}
  .result div.comments span{margin-right:3px;}
  .result div.letter{position:absolute; right:15px; top:0;}
  .result div.text{margin-right:30px; line-height:15px;}
  .result.color{background:#f3f3f3;}
  
  .comment{padding:1px; margin-bottom:10px; border-bottom:1px dotted #666; position:relative; min-height:110px;}
  .comment:last-child{border:none;}
  .comment a{text-decoration:none;}
  .comment h1{margin-bottom:10px; font-style:italic; font-size:14px; font-weight:bold; color:#194A96;}
  .comment p.info{color:#666; font-size:11px; margin-bottom:10px;}
  .comment div.content{background-color:#ECEDF0; padding:10px 10px 20px 10px; position:relative; min-height: 82px;}
  .comment span.quote{color:#fff; font-family:Helvetica; font-weight:bold; font-size:220px; position:absolute; display:block; z-index:1;}
  .comment span.quote.quote-left{left:0; top:-1px;}
  .comment span.quote.quote-right{right:0; bottom:-1px;}
  .comment div.left{position:absolute; top:10px; left:10px; z-index:2; width:120px;}
  .comment div.left h2{font-weight:bold; color:#194A96; margin-bottom:2px;}
  .comment div.left p.date{font-size:11px; color:#666; margin-bottom:10px;}
  .comment div.left p.opinion{color:#666; text-transform:uppercase; font-style:italic;}
  .comment div.left p.opinion strong{color:#BD9C3F;}
  .comment div.right{margin-left:130px;}
  .comment div.footer{margin-top:5px;}
  .comment div.footer a.opino{padding:5px 8px 5px 8px; background-color:#7E8A8F;}
  .comment div.text{margin-bottom:15px; margin-right:100px; position:relative;}
  .comment div.footer{position:relative; margin-right:100px;}
  .comment div.footer div.stats{position:absolute; right:0; top:0;}
  .comment div.footer div.stats strong{margin-left:10px;}

    /* Pagina: HOME */
  
  #home #main{padding-top:30px;}
  #home #main div.bar-left{width:670px; }
  #home #main div.bar-right{width:265px; margin-left:15px;}
  
  #home .noticias div.item{padding:10px; border-bottom:1px dashed #666;}
  #home .noticias div.item.color{background:#f3f3f3;}
  #home .noticias div.item div.img{width:50px; height:45px; float:left; margin-right:8px; background-color:#999;}
  #home .noticias div.item h1{margin-bottom:4px; font-size:12px; font-size:12px; color:#fff;}
  #home .noticias div.item p{color:#666; margin-bottom:1px; font-size:11px;}
  #home .noticias div.item a{color:#194A96;}
  
  #home .entrevistas{background:#194A96;}
  #home .entrevistas{text-align:center;}
  #home .entrevistas div.img{width:100%; height:120px; background-color:#ccc; margin-bottom:10px;}
  #home .entrevistas h1{margin-bottom:3px; color:#fff;}
  #home .entrevistas p{color:#ccc; margin-bottom:10px; font-size:12px;}
  #home .entrevistas div.bottom a{float:left; padding:5px 8px 5px 8px; font-size:16px;}
  #home .entrevistas div.bottom strong{font-weight:normal; font-size:11px; color:#ccc;}
  #home .entrevistas div.bottom strong span{margin-right:3px; }

  #home div.crear{margin-top:20px;}
  #home div.crear div.misc-people{display:block; margin-left:20px; margin-top:-50px;}
  #home div.crear p{margin-bottom:20px; font-size:16px; font-style:italic; line-height:16px; color:#666; text-align:center; padding:0 10px 0 10px;}
  #home div.crear a{display:block; margin-left:25px; height:50px; line-height:50px; font-size:18px; width:80%;}
  #home div.crear strong{color:#C5A443;}
  
  #home div.mapa div.map{height:300px; background:#ccc;}
  
  #home .accio-ciutadana{}

  /* Pagina: PERFIL */

    #perfil div.bar-left{width:265px; margin-right:15px;}
    #perfil div.bar-right{width:670px; margin-left:0;}
    
    #perfil #main div.info{padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #ccc;}
    #perfil #main div.info div.img{width:120px; height:115px; float:left; background-color:#666;}
    #perfil #main div.info div.user{margin-left:125px;}
    #perfil #main div.info div.user h1{padding:5px; background:red; margin-bottom:5px; font-size:16px; text-transform:uppercase; background:#2174CA; color:white;}
    #perfil #main div.info div.user div{padding:5px; height:74px; background:red; background:#2174CA; vertical-align:bottom;}
    #perfil #main div.info div.user div p{color: #0e2b57; margin-bottom:4px;}
    #perfil #main div.info div.user div p strong{color:#fff;}
    #perfil #main div.info div.edit{margin-top:5px; text-align:right;}
    #perfil #main div.info div.edit a{text-decoration:none; color:#999; font-size:12px;}
    #perfil #main div.info div.edit a span{margin-right:3px;}
    #perfil #main div.map p{color:#999;}
    #perfil #main div.map p strong{color:#fff;}
    #profile-map{margin-top:5px; height:200px;}

    #perfil #main div.header{position:relative; padding-bottom:5px; border-bottom:1px dashed #ccc; margin-bottom:20px;}
    #perfil #main div.header h1{font-size:14px; color:#666;}
    #perfil #main div.header h1 strong{color:#194A96; text-transform:uppercase;}
    #perfil #main ul{position:absolute; right:0; top:0;}
    #perfil #main ul li{padding-left:5px; margin-left:5px; border-left:1px solid #ccc; float:left;}
    #perfil #main ul li.on a{color:#666; cursor:default;}
    #perfil #main ul li:first-child{border:none;}
    #perfil #main ul li a{display:block; text-transform:uppercase;}
    
    div.featured{padding:12px; background:url(../images/deg.jpg) repeat-x top; margin-bottom:10px; border-bottom:1px dotted #000;}
    div.featured-comment{padding:10px; border-bottom:1px solid #D2DAE9;}
    div.featured-comment:last-child{border:none;}
    div.featured-comment div.img{background-color:white; padding:2px; border:1px solid #ccc; width:50px; height:45px; float:left;}
    div.featured-comment div.content{margin-left:70px; padding-left:10px; border-left:1px solid #ccc;}
    div.featured-comment h1{color:#000; margin-bottom:12px;}
    div.featured-comment h1 span{font-size:11px; color:#999;}
    div.featured-comment div.text{font-style:italic; font-size:12px; color:#BD9C3F; font-weight:bold; line-height:15px;}
    form.add-comment{margin-bottom:10px;}
    form.add-comment a{text-decoration:underline; color:#194A96;}
    form.add-comment div{text-align:center; margin-top:10px; margin-bottom:10px; display:none;}
    form.add-comment div textarea{width:620px; height:70px; display:block; margin-bottom:10px;}
    form.add-comment button{margin-right:20px;}
    form.add-comment{}
    
    /* Pagina: BUSQUEDA */
    
    #busqueda div.title span{float:right; margin-top:-12px;}
    #busqueda div.title span strong{color:#BD9C3F;}
    #busqueda ul.filter{margin-bottom:20px;}
    #busqueda ul.filter li.header{background:#194A96; padding:5px; color:#fff; font-weight:bold; margin-bottom:8px; }
    #busqueda ul.filter li a{padding:3px; display:block; color:#333; }
    #busqueda ul.filter li ul{margin-left:15px; padding:3px;}
    #busqueda ul.filter li.on{background-color:#C7CED1; border:1px solid #333; position:relative;}
    #busqueda ul.filter li.on a{color:#fff; margin-right:30px;}
    #busqueda ul.filter li.on a.delete{color:red; font-weight:bold; position:absolute; right:1px; top:1px; margin-right:0;}
    #busqueda div.result-block{margin-bottom:20px;}
    
    /* Pagina: FORM TALLER */
    
    #form-taller form button{width:150px; padding:10px; margin-top:20px; margin-left:45px;}
    #form-taller form div.features{padding-bottom:5px; margin-bottom:5px; border-bottom:1px dashed #ccc;}
    #form-taller form div.features label{float:left; margin-right:20px; color:#BD9C3F; margin-bottom:0;}
    #form-taller form div.features label span{display:inline; text-transform:none; color:#BD9C3F;}
    #form-taller form div.features input{width:120px;}
    #form-taller form textarea{height:100px;}
    
    /* Pagina: FORM SIGNUP */
    
    #form-signup label{float:left; margin-right:15px; text-align:center;}
    #form-signup label span{text-align:left;}
    #form-signup label input[type=text], #form-signup label select{width:180px;}
    #form-signup label textarea{width:600px;}
    #form-signup label input.address{width:383px;}
    #form-signup label div.img{width:180px; height:200px;border:1px solid #666; margin:15px auto 0 auto;}
    #form-signup form button{margin-left:80px;}
    #form-signup div.line{margin-bottom:15px; border-bottom:1px solid #ccc;}
    
    /* Pagina: FORM INICIATIVAS */
    
    /* Pagina: FICHA */
    
    .ficha{}
    .ficha div.title{padding-bottom:10px; margin-bottom:15px; border-bottom:1px dotted #333;}
    .ficha div.title h1{font-size:16px; font-weight:bold; color:#000; margin-bottom:5px;}
    .ficha div.title p{font-size:11px; color:#999;}
    .ficha div.title p.author{float:left; width:300px;}
    .ficha div.title p.category{float:right; width:300px; text-align:right;}
    .ficha div.content div.img{width:210px; height:140px; padding:3px; border:1px solid #ccc; margin:0 10px 10px 0; float:left;}
    .ficha div.content div.text{line-height:16px; font-size:14px;}
    .ficha div.details{margin-top:25px; margin-bottom:20px;}
    .ficha div.details div{float:left; margin:0 20px 4px 0; width:30%; font-size:14px;}
    .ficha div.details div.l{width:60%;}
    .ficha div.details div strong{color:#BD9C3F;}
    .ficha div.map-container{ padding:3px; border:1px solid #ccc; margin-top:10px; margin-bottom:30px;}
    .ficha div.map{height:100px; width:100%;}
    .ficha div.comment.selected{border:3px solid #194A96;  margin-bottom:20px;}
    ficha div.comment{padding:1px;}
    .ficha div.comments-by-area div.map{height:250px;}
  .ficha div.related-inciatives{}
  .ficha div.related-inciatives div.item{padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #333;}
  .ficha div.related-inciatives div.item:last-child{border:none;}
  .ficha div.related-inciatives div.item h1{margin-bottom:4px; font-weight:bold;}
  .ficha div.related-inciatives div.item h1 a{color:#000;}
  .ficha div.related-inciatives div.item p{color:#999; font-size:11px;}
  .ficha div.share{margin-bottom:10px; float:right;}
  .ficha div.sign p{margin-bottom:10px; color:#BD9C3F; font-size:14px;}
  .ficha div.sign a{padding:10px; display:block; margin:0 10px 0 10px; background:#7E8A8F;}
  .ficha div.sign .button1{margin-bottom:15px;}
  .ficha div.sign div.hdr{height:70px; position:relative;}
  .ficha div.sign div.hdr span{display:block; top:-60px; position:absolute;}
  .ficha div.sign div.hdr strong{font-size:30px; color:#fff; text-transform:uppercase; display:block; position:absolute; top:-10px; left:20px;}
  .ficha div.sign .icon-box-arrow{display:block; position:absolute; left:-50px; bottom:20px;}
  .ficha div.content{}
        
    /* Pagina: FICHA TALLER */
    
    #ficha-taller div.sign form{text-align:center;}
  #ficha-taller div.sign textarea{width:200px; height:60px; margin-bottom:5px;}
  #ficha-taller div.sign button{}
  
   /* Pagina: FICHA NOTICIA */
    
    #ficha-noticia div.sign p{margin-bottom:10px; color:#BD9C3F; font-size:14px;}
    #ficha-noticia div.sign form{text-align:center;}
  #ficha-noticia div.sign textarea{width:200px; height:60px; margin-bottom:5px;}
  #ficha-noticia div.sign button{}
  
  .ui-tabs .ui-tabs-hide {display: none;}
  
  /* --- Signup Form --- */
  
  #login_dialog{}
  #login_dialog div.column{float:left; width:200px; color:#666; line-height:15px;}
  #login_dialog div.column.margin{margin-right:10px;}
  #login_dialog form label{margin-bottom:10px; font-weight:bold; display:block;}
  #login_dialog form label input{width:170px; display:block; margin-top:5px;}
  #login_dialog form div{margin-bottom:10px; line-height:15px;}
  #login_dialog div.signup p{margin-bottom:15px;}
  #login_dialog div.signup form{display:none;}
  #login_dialog div.login form.remember{display:none;}
  
  #select_content{display:none;}
  #select_content a{display:block; padding:5px; margin:0 20px 10px 20px;}
  
  /* --- MODAL --- */
	
	div.modal_alpha{display:none; top:0; left:0; width:100%; height:100%; position:fixed; z-index:1000; background-color:#000; opacity:.4;}
	div.modal_div{display:none; position:fixed; background-color:#fff; top:50%; left:50%; border:10px solid #194A96; border-radius:6px; padding:15px; z-index:1001; }
	h1.modal-title{margin-bottom:15px; padding-bottom:5px; text-transform:uppercase; color:#194A96; border-bottom:1px solid #999; font-weight:bold; font-size:14px;}
	a.dialog-close{position:absolute; right:0; top:0; font-weight:bold; background:#194A96; display:block; font-size:14px; color:#fff; padding:4px;}
	a.dalog-close:hover{text-decotion:none;}
	
	/* --- JQUERY UI DIALOG --- */
	
	.dialog-modal, .dialog-modal *{background-color:transparent; background-image:none !important; border:none; color:#000; font-weight:normal; font-family:inherit; padding:0; margin:0; border-radius:0; float:none; height:auto; width:auto;}
	.dialog-modal{background-color:#fff; border:10px solid #194A96; border-radius:6px; padding:15px; position:fixed !important;}
	.dialog-modal .ui-dialog-title{display:none;}
	.dialog-modal .ui-dialog-titlebar{display:none;}
	.ui-widget-overlay{background-color:#000; opacity:.4; position:fixed !important;}
  
	/* --- BROWSERS --- */
	
	.icon-letter-c, .icon-letter-g, .icon-letter-q{-webkit-text-shadow:0 0 2px rgba(0,0,0,.7); -moz-text-shadow:0 0 2px rgba(0,0,0,.7); }
	#container{-webkit-box-shadow:0 2px 20px rgba(0,0,0,.5); -moz-box-shadow:0 2px 20px rgba(0,0,0,.5); }
	#top .user{-webkit-text-shadow:1px 1px 1px rgba(0,0,0,.9); -moz-text-shadow:1px 1px 1px rgba(0,0,0,.9); }
	#top .accesibility a{-webkit-border-radius:4px; -moz-border-radius:4px; }
	#header ul li.link a{-webkit-text-shadow:0 2px 1px rgba(0,0,0,.5); -moz-text-shadow:0 2px 1px rgba(0,0,0,.5); }
	#footer{-webkit-box-shadow:inset 0 20px 20px rgba(0,0,0,1); -moz-box-shadow:inset 0 20px 20px rgba(0,0,0,1); }
	#footer ul li a{-webkit-text-shadow:2px 2px 2px rgba(0,0,0,.7); -moz-text-shadow:2px 2px 2px rgba(0,0,0,.7); }
	.button1{-webkit-border-radius:8px; -moz-border-radius:8px; }
	.button1:hover{-webkit-opacity:.9; -moz-opacity:.9; }
	.button1:active{-webkit-box-shadow:inset 0 2px 20px rgba(0,0,0,.5); -moz-box-shadow:inset 0 2px 20px rgba(0,0,0,.5); }
	.box{-webkit-border-radius:10px; -moz-border-radius:10px; }
	.box ul.tabs li a{-webkit-box-shadow:0 0 5px rgba(0,0,0,.4); -moz-box-shadow:0 0 5px rgba(0,0,0,.4); }
	.box ul.tabs li a:hover{-webkit-opacity:.7; -moz-opacity:.7; }
	.box ul.tabs li.on a:hover, .ui-state-active a:hover{-webkit-opacity:1 !important; -moz-opacity:1 !important; }
	.box h1.hdr{-webkit-text-shadow:0 0 2px rgba(0,0,0,.7); -moz-text-shadow:0 0 2px rgba(0,0,0,.7); }
	div.modal_alpha{-webkit-opacity:.4; -moz-opacity:.4; }
	div.modal_div{-webkit-border-radius:6px; -moz-border-radius:6px; }
  
  /* --- MISC --- */
  
	#modal-accio{display:none;}
	#modal-accio a{display:block; padding:5px; margin:0 20px 10px 20px;}
